<!doctype HTML>
<html>
    <body>        
        <h1>Pet check</h1>
        
        <label for='m_num'>phoneNumber :</label> <input type="text" name='phone_Number' value={{phoneNumber}} readonly><br><br>

        {% for item in p_item %}

        <label for='pet name'>pet name:</label> {{item.p_name}}<br>
        <label for='pet number'>pet number :</label> {{ item.p_breed}} <br>
        <label for='pet sex'>sex:</label> {{ item.p_sex }} <br>
        <label for='pet birth'>birth:</label> {{item.p_birth}} <br>
        <label for='pet breed'>breed:</label> {{ item.p_breed }} <br>
        <label for='pet weight'>weight :</label> {{ item.p_weight}} 
        <a href='{{url_for('pet_edit', phoneNumber=phoneNumber, p_num=item.p_num)}}'>Edit</a></p>
        {% endfor %}
        <p>This is a link to <a href='{{url_for('mypage', phoneNumber=phoneNumber)}}'>Cancel</a></p>
    </body>
</html>