<!DOCTYPE html>
<html>

<body>
    <form action="{{url_for('reservation', phoneNumber=phoneNumber)}}" method='POST'>
        <h1>reservation</h1>

        <label for='user_id'>ID : </label> <input type="text" name=phoneNumber value={{phoneNumber}} readonly><br><br>  

        <label for='pet'>Pet : </label> <select name='pet'>
            {% for i in p_item %}
            <option value={{i.p_num}}>{{i.p_name}}</option>
            {% endfor %}
        </select> <br><br><br>

        <label for='instructor'>Instructor : </label><select name='instructor'>
            {% for i in i_item %}
            <option value={{i.i_num}}>{{i.i_name}}</option>
            {% endfor %}
        </select> <br><br><br>

        <label for='day'>day</label>
        <input id='day' type = 'text' name = 'day', placeholder='xxxx-xx-xx'><br>
        
        <label for='time'>time</label>
        <input id='time' type = 'int' name = 'time', placeholder=''><br><br>

        <input type='submit', value='reserve'><br><br>
    </form>
    <a href='{{url_for('login_success', phoneNumber=phoneNumber)}}'>Cancel</a><br>
</body>

</html>
