<!doctype HTML>
<html>
    <body>        
        <h1>Reservation check</h1>
        
        <label for='m_num'>phoneNumber :</label> <input type="text" name='phone_Number' value={{phoneNumber}} readonly><br><br>

        {% for item in items %}

        <label for='instructor name'>instructor name:</label> {{item.i_name}}
        <label for='instructor'>&nbsp;&nbsp;&nbsp;instructor number:</label> {{ item.i_num }} <br>
        <label for='pet'>pet name:</label> {{item.p_name}} <br>
        <label for='day'>day :</label> {{ item.r_day }} <br>
        <label for='time'>time :</label> {{ item.r_time}} <br><br>
        {% endfor %}
        <p>This is a link to <a href='{{url_for('mypage', phoneNumber=phoneNumber)}}'>Cancel</a></p>
    </body>
</html>
